/* for reference only, remove comment symbols when needed
.colorpallete{
    color: #4B2E2A; Espresso Brown    - Text Color (?, too dark for anything else but that) 
    color: #7B4B3A; Mocha Brown       - Headings 
    color: #AF8F6F; Light Brown       - Highlight/Navigation (?)
    color: #897057; Hover Brown       - Hover Navigation
    color: #F6F0F0; Pinkish Cream     - Background Color 
    color: #A8B695; Sage Green        - Accents 
    color: #6E7F56; Olive Green       - Buttons 
}
*/

/*event box*/
body{
    background-color: #F6F0F0;
}

.event-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F6F0F0;
    border: 2px dotted #7B4B3A;
    border-radius: 10px;
    padding: 20px;
    margin: 80px auto 90px auto;
    width: 80%;
    color: #4B2E2A;
    opacity: 0.95;
    gap: 20px;
    transition: background-color 0.3s ease;
}
.event-box:hover{
    background-color: #AF8F6F;
    color: #F6F0F0;
}

.event-box:hover .event-text h3{
    color: #F6F0F0;
}
.event-text {
    flex: 2;
    text-align: left;
}
.event-text h3 {
    margin-top: 0;
    font-size: 1.5rem;
    color: #7B4B3A;
}
.event-image {
    display: flex;
    justify-content: center;
    align-items: center;
}
.event-image img {
    width: 160px;   
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
}
