/* for reference only, remove comment symbols when needed
.colorpallete{
    color: #4B2E2A; Espresso Brown    - Text Color (?, too dark for anything else but that) 
    color: #7B4B3A; Mocha Brown       - Headings 
    color: #AF8F6F; Light Brown       - Highlight/Navigation (?)
    color: #897057; Hover Brown       - Hover Navigation
    color: #F6F0F0; Pinkish Cream     - Background Color 
    color: #A8B695; Sage Green        - Accents 
    color: #6E7F56; Olive Green       - Buttons 
}
*/

/*event box*/
body{
    background-color: #000000;
}

#background-image{
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   position: fixed;
   background-image: url('../img/events-background-image.jpg');
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
   opacity: 0.5;
}
.top-title{
    font-size: 4rem;
    margin-top: 80px;
    padding: 20px 0px 20px 0px;
    text-align: center;
    background-color: #AF8F6F;
    transition: background-color 0.3s ease;
    transition: color 0.3s ease;
}

.top-title:hover{
    background-color: #A8B695;
    color: #F6F0F0;
}

.event-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-self: center;
    background-color: #F6F0F0;
    border: 2px dotted #7B4B3A;
    border-radius: 10px;
    padding: 20px;
    margin: 80px auto 50px auto;
    width: 80%;
    color: #4B2E2A;
    opacity: 0.95;
    gap: 20px;
    transition: background-color 0.3s ease;
}
.event-box:hover{
    background-color: #AF8F6F;
    color: #F6F0F0;
}

.event-box:hover .event-text h3{
    color: #F6F0F0;
}
.event-text {
    flex: 2;
    font-size: 1.25rem;
    text-align: left;
}
.event-text h3 {
    margin-top: 0;
    font-size: 2.25rem;
    color: #7B4B3A;
}

.event-text > ul{
    list-style: none;
}

.event-text > ul > li::before{
    content: "☕ ";
}

.event-image {
    display: flex;
    justify-content: center;
    align-items: center;
}
.event-image img {
    width: 260px;   
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
}
@media only screen and (max-width: 800px){
    .top-title{
        font-size: 3rem;
    }

    .event-box{
        margin: 20px auto 20px auto;
    }

    .event-text{
        font-size: 0.9rem;
    }

    .event-text h3 {
        font-size: 1.35rem;
    }

    .event-image img{
        width: 120px;
        height: 80px;
    }
}