/* for reference only, remove comment symbols when needed
.colorpallete{
    color: #4B2E2A; Espresso Brown    - Text Color (?, too dark for anything else but that) 
    color: #7B4B3A; Mocha Brown       - Headings 
    color: #AF8F6F; Light Brown       - Highlight/Navigation (?)
    color: #897057; Hover Brown       - Hover Navigation
    color: #F6F0F0; Pinkish Cream     - Background Color 
    color: #A8B695; Sage Green        - Accents 
    color: #6E7F56; Olive Green       - Buttons 
}
*/
body{
    background-color: #000000;
}
#background-image{
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   position: fixed;
   background-image: url('../img/beans.jpg');
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
   opacity: 0.5;
}


/*main content wrapper*/
.content {
    background-color:#AF8F6F ;
    min-height: 45vh;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-top:50px;
    padding: 0px 2%;
    gap: 20px;
}

/*content box for introduction*/
.title-box {
    border-radius: 5%;
    padding: 20px;
}
.title-box h1 {
    font-size: 8.5vw;
    margin-bottom: 10px;
}
.menu-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 1em 1.3em;
    background-color: #6E7F56;
    font-size: 1.2rem;
    color: #FFF9F2;
    text-decoration: none;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}
.menu-btn:hover {
    background-color: #4B2E2A;
}

.coffee-img{
    overflow: visible;
    display: flex;
    align-items: center;
    justify-content: center;
}

.coffee-img img{
    display: block;
    transition: transform 0.5s ease;
    max-width: 90%;
}

.coffee-img img:hover{
    transform: scale(1.2);
    position: relative;
}

/*promo box*/
.promo-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F6F0F0;
    border: 2px dotted #7B4B3A;
    border-radius: 10px;
    padding: 20px;
    margin: 40px auto 80px auto;
    height: 40%;
    width: 80%;
    color: #4B2E2A;
    opacity: 0.95;
}
.promo-text {
    font-size: 1.2rem;
    text-align: left;
}
.promo-text h3 {
    margin-top: 0;
    font-size: 2rem;
    color: #7B4B3A;
}
.promo-image {
    display: flex;
    justify-content: center;
    align-items: center;
}
.promo-image img {
    max-width: 180px;
    width: 100%;
    border-radius: 8px;
}

/*map*/
.map-promo{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #af8f6f4e;
}

.map-box {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    gap: 20px;
    padding: 20px;
    margin-bottom: 40px;
    width: 80vw;
    box-sizing: border-box;
}

/*map-image is now turned into iframe*/
.map-image {
    flex: 2;
    height: 450px;  
    border: 2px solid #6E7F56;
    border-radius: 10px;
    overflow: hidden;
}

.map-image iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

.location-text {
    flex: 1;
    background-color: #f6f0f0cb;
    border-radius: 10px;
    padding: 10px;
    color: #7B4B3A;
    font-size: 1.55rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.location-text > h3 {
    text-align: center;
    font-size: 2.5rem;
}

@media only screen and (max-width: 800px){
    .content{
        min-height: 15vh;
        position: sticky;
        top: 0;
        width: 96%;
        padding-top: 20px;
        z-index: 1;

    }

    .title-box{
        justify-content: center;
    }

    .title-box h1{
        font-size: 4.2rem;
    }

    .menu-btn{
        display: none;
    }

    .coffee-img{
        display: none;
    }

    .map-promo{
        padding-bottom: 300px;

    }

    .promo-box{
        margin-bottom: 10px;
    }

    .promo-text {
        font-size: 1rem;
        text-align: left;
    }
    .promo-text h3 {
        margin-top: 0;
        font-size: 1.75rem;
        color: #7B4B3A;
    }


    .promo-image img{
        max-width: 120px;
    }

    .map-box{
        flex-direction: column;
    }

    .map-image{
        border: none;
    }

    .map-image iframe {
        width: 84vw;
        height: 30vh;
        border: none;
    }


    .location-text{
        font-size: 1.25rem;
        padding: 20px;
    }

    .location-text h3{
        font-size: 2rem;
    }
}